 <!--整体概览-->
<div id="main_right">
    <h3 class="mr_title"><span class="droopColor"></span>低价值数据</h3>
    <div class="mr_text">数据产生->数据采集->数据清洗</div>
    <h3 class="mr_title"><span class="middleColor"></span>中价值数据</h3>
    <div class="mr_text">数据预处理->数据分析->数据分类</div>
    <h3 class="mr_title"><span class="tallColor"></span>高价值数据</h3>
    <div class="mr_text">数据挖掘->数据应用->决策支撑</div>
</div>
 <!--原型分区图-->
 <div id="mainBar">
     <div id="mainBarCont">
         <h4 id="dataText">786<span>TB</span></h4>
         <!--<div class="blueBG"></div>-->
         <!--<div class="loader">
             <div class="loader-inner ball-scale-ripple-multiple">
                 <div></div>
                 <div></div>
                 <div></div>
             </div>
         </div>-->
     </div>
     <!--flash-->
     <div id="moveFlash">
         <EMBED src="src/style/main.swf" width=800 height=800 type=application/x-shockwave-flash; quality="high" wmode="transparent"></EMBED>
     </div>
 </div>

